#blogForm{
    display: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ccc;
}
label{
    color: red;
}

#postDiv{
    outline: 4px solid black;
    margin-bottom: 10px;
    background-color: #1b222e;
    color: white;
}

#blogText{
    text-indent: 40px;
}